@media screen and (max-width: 1300px) {
	.container{
		max-width: 960px;
	}
}
@media screen and (max-width: 1190px) {
	.header_menu{
		margin-left:-300px;
	}

}
@media screen and (max-width: 990px) {
	.container{
		max-width: 850px;
	}
	.header_menu{
		margin-left:0px;
	}
	
}
@media screen and (max-width: 850px) {
	.container{
		max-width: 750px;
	}
	.header_burger{
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
	}
	.header_burger::before,
	.header_burger::after{
		content: '';
		background-color: #7772F1;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
	}
	.header_burger::before{
		top: 0;
	}
	.header_burger::after{
		bottom: 0;
	}
	.header_burger span{
		position: absolute;
		background-color: #7772F1;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		top: 9px;
	}
	.header_menu{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}
}
@media screen and (max-width: 780px) {
	.container{
		max-width: 510px;
	}
}
@media screen and (max-width: 540px) {
	.container{
		max-width: 420px;
	}
}
@media screen and (max-width: 450px) {
	.container{
		max-width: 100%;
	}
}