html,
body {
	height: 100%;
	font-family: "lato";
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	clear: both;
	content: "";
	display: table;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
}

ul li:last-child {
	margin-bottom: 0;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

button,
label {
	cursor: pointer;
}

input,
button,
textarea {
	background: none;
	border: none;
	outline: none;
	display: block;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input::placeholder {
	color: inherit;
}

button,
a {
	cursor: pointer;
}

input,
textarea {
	display: block;
	resize: none;
}

.container {
	max-width: 1125px;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 15px;
}

section {
	padding: 100px 0;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.btn {
	background: linear-gradient(93.7deg, #592ee6 -1.69%, #7772F1 67.58%);
	border-radius: 4px;
	font-weight: 400;
	font-size: 15px;
	text-align: center;
	color:#FFFFFF;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 170px;
	padding: 12px ;
	transition: 1s;
	z-index: 20;
	
}

.btn:hover {
	transform: scale(0.9);
}

.link {
	transition: 0.3s;
}

/* MALIKA */
/* header */
.header_logo{
	display: inline-flex;
	gap: 8px;
}
.x {
	animation: spin 5s linear infinite; 
  }
  
  @keyframes spin {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(360deg);
	}
  }
  
.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
}

.header::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: radial-gradient(83.15% 154.4% at 10% 13.52%, #1E212C 0%, #232441 56.38%, #1E212C 100%) ;
	z-index: 10;
}

.header_body {
	position: relative;
	height: 80px;

}
.header_logo{
	z-index: 20;
}
.header_list{
	gap: 30px;
	z-index: 1520;
}
.header_link {
	font-size: 15px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0em;
	color: #FFFFFF;
	transition: 1s;
}
.header_link:hover{
	color: #7772F1;
	border-bottom: 1px solid #7772F1;
	transition: 1s;
	font-weight: 700;
}
.header_menu{
	
}
.header_burger{
	display: none;
}

/* go-back */

.back-to-top {
	background-image: url(../img/icons/up.png);
	background-position:  center;
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 50px;
    border-radius: 15%;
    font-size: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    transition: 1s;
	display: block;
}

.back-to-top:hover {
	transform: translateY(-15px);
}

/*akcholpon*/




