html,
body {
	height: 100%;
	font-family: "lato";
	margin: 0 auto;

}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	clear: both;
	content: "";
	display: table;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
}

ul li:last-child {
	margin-bottom: 0;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

button,
label {
	cursor: pointer;
}

input,
button,
textarea {
	background: none;
	border: none;
	outline: none;
	display: block;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input::placeholder {
	color: inherit;
}

button,
a {
	cursor: pointer;
}

input,
textarea {
	display: block;
	resize: none;
}

.container {
	max-width: 1225px;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 15px;
}

section {
	padding: 100px 0;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.btn {
	background: linear-gradient(93.7deg, #592ee6 -1.69%, #7772F1 67.58%);
	border-radius: 4px;
	font-weight: 400;
	font-size: 15px;
	text-align: center;
	color: #FFFFFF;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 170px;
	padding: 12px;
	transition: 1s;
}

.btn:hover,
.play-button:hover {
	transform: scale(0.9);
	box-shadow: 0px 3px 34px -14px rgba(92, 78, 108, 1);
}

.link {
	transition: 0.3s;
}

/* MALIKA */
/* header */
.header_logo {
	display: inline-flex;
	gap: 8px;
}

.x {
	animation: spin 5s linear infinite;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.btn_header {
	z-index: 20;
}

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
}

.header::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: radial-gradient(83.15% 154.4% at 10% 13.52%, #1E212C 0%, #232441 56.38%, #1E212C 100%);
	z-index: 10;
}

.header_body {
	position: relative;
	height: 80px;

}

.header_logo {
	z-index: 20;
}

.header_list {
	gap: 30px;

}

nav ul li ul {
	position: absolute;
	margin-top: 50px;
	display: none;
}

nav ul li:hover>ul {
	display: initial;
}

.header_link {
	font-size: 15px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0em;
	color: #FFFFFF;
	transition: 1s;
}

.header_link:hover {
	color: #7772F1;
	border-bottom: 1px solid #7772F1;
	transition: 1s;
}

.header_menu {
	margin-left: -250px;
	z-index: 20;
}

.header_burger {
	display: none;
}

/* go-back */

.back-to-top {
	background-image: url(../img/icons/up.png);
	background-position: center;
	position: fixed;
	bottom: 40px;
	right: 40px;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 50px;
	border-radius: 15%;
	font-size: 20px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	z-index: 9999;
	transition: 1s;
	display: block;
}

.back-to-top:hover {
	transform: translateY(-15px);
}

/* main block */
.main {
	background: url(../img/background.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center right;
	width: 100%;
	margin-top: 80px;
}

.main_left {
	width: 65%;
}

.main_right {
	width: 35%;
}

.main_texts {
	margin-left: 155px;
	margin-top: -106px;
}

.main_tit {
	max-width: 810px;
	font-size: 55px;
	font-weight: 900;
	line-height: 74px;
	letter-spacing: 1px;
	text-align: left;
	color: #FFF;
}

.violet {
	color: #7772F1;
}

.buttons {
	margin-top: 50px;
	display: inline-flex;
	gap: 30px;
	align-items: center;
}

.play_video {
	display: inline-flex;
	gap: 15px;
	align-items: center;
}

.play_txt {
	color: #FFF;
}

.play-button {
	position: relative;
	width: 40px;
	height: 40px;
	border: none;
	border-radius: 100%;
	background-color: rgba(119, 114, 241, 0.7);
	color: #fff;
	cursor: pointer;
	overflow: hidden;
	transition: 1s;
	animation: shadow 1s infinite linear;


}

.play-button::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 0;
	height: 0;
	border-left: 11px solid white;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	z-index: 2;
}


@keyframes shadow {
	0% {
		box-shadow: 0 0 5px 0px rgb(98, 119, 129), 0 0 5px 0px rgb(40, 75, 192);
	}

	100% {
		box-shadow: 0 0 18px 6px rgba(25, 48, 26, 0), 0 0 4px 15px rgba(255, 48, 26, 0);
	}
}

.btn_white {
	background: none;
	border: #FFF 1px solid;
}

.modal {
	display: none;
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	padding: 20px;
}

.close {
	color: #aaa;
	float: right;
	font-size: 38px;
	font-weight: bold;
	transition: 0.5s;
}

.close:hover,
.close:focus {
	color: #7772F1;
	text-decoration: none;
	cursor: pointer;
}

.main_img img {
	width: 470px;
	height: 390px;
	margin-top: 70px;
	margin-left: -40px;

}

.market {
	width: 75%;
	margin: 0 auto;
}

.icon_violet {
	width: 30px;
	height: 30px;
	background-size: cover;
	background-position: center;
}

.chart {
	background-image: url(../img/icons/piece.png);
}

.speaker {
	background-image: url(../img/icons/ic-speaker.png);
}

.computer {
	background-image: url(../img/icons/ic-computer.png);
}

.market_in {
	display: inline-flex;
	align-items: center;
	gap: 15px;
	transition: 1s;
	margin-top: 70px;

}

.market_in:hover {
	transform: scale(1.2);
}

.market_txt {
	font-size: 15px;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: left;
	color: #FFFFFF;

}

.after {
	border-left: 0.1px solid #FFFFFF;
	filter: blur(0.7px);
	height: 40px;
	border-radius: 30px;
	margin-top: 70px;

}

/* services */
.services_tit {
	font-size: 46px;
	font-weight: 900;
	line-height: 60px;
	letter-spacing: 0em;
	text-align: center;
}

.tabs-nav__item.is-active,
.btn_violet {
	background: none;
	border: #7772F1 1px solid;
	color: #7772F1;
}

.btn_pink_act,
.btn_pink:hover {
	background: none;
	border: #f828c8 1px solid;
	color: #f828c8;
}

.btn_red_act,
.btn_red:hover {
	background: none;
	border: #F52F6E 1px solid;
	color: #F52F6E;
}

.btn_blue_act,
.btn_blue:hover {
	background: none;
	border:
		#5A87FC 1px solid;
	color:
		#5A87FC;
}

.btn_green_act,
.btn_green:hover {
	background: none;
	border:
		#03CEA4 1px solid;
	color:
		#03CEA4;
}

.tabs-nav__item {
	transition: 1s;
	border: none;
	background: none;
	color: #9A9CA5;
}

.tabs-nav {
	margin: 60px 0;

}

.content_left {
	width: 390px;
}

.content_tit {
	font-size: 28px;
	font-weight: 700;
	line-height: 42px;
	letter-spacing: 0em;
	text-align: left;

}

.cont_list {
	margin-bottom: 40px;
	margin-top: 20px;
	color: 12px;
}

.list {
	position: relative;
	font-size: 15px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;
	margin-bottom: 12px;
	margin-left: 30px;
	color: #424551;

}

.list::before {
	position: absolute;
	content: '';
	background-image: url(../img/icons/Mark.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 22px;
	height: 22px;
	margin-left: -30px;
}

.list_pink::before {
	position: absolute;
	content: '';
	background-image: url(../img/icons/mark_pink.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 22px;
	height: 22px;
	margin-left: -30px;
}

.list_red::before {
	position: absolute;
	content: '';
	background-image: url(../img/icons/mark_red.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 22px;
	height: 22px;
	margin-left: -30px;
}

.list_blue::before {
	position: absolute;
	content: '';
	background-image: url(../img/icons/mark_blue.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 22px;
	height: 22px;
	margin-left: -30px;
}

.list_green::before {
	position: absolute;
	content: '';
	background-image: url(../img/icons/mark_green.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 22px;
	height: 22px;
	margin-left: -30px;
}

.content_buttons {
	max-width: 330px;
}

.btn_small {
	width: 135px;
}

.shadow {
	width: 100%;
	z-index: -2;
}

.dash {
	width: 55%;
	position: absolute;
	z-index: 1;
	margin-top: -500px;
}

.like {
	height: 37px;
	width: 42px;
	position: absolute;
	z-index: 1;
	margin-top: -70px;
	margin-left: 300px;

}

.likes {
	position: absolute;
	z-index: 2;
	height: 45px;
	width: 60px;
	margin-top: -300px;
	margin-left: 15px;
}

.followers {
	position: absolute;
	z-index: 2;
	height: 45px;
	width: 60px;
	margin-top: -480px;
	margin-left: 490px;
}

.subscribe {
	width: 140px;
	padding: 10px;
	color: #FFFFFF;
	background: #FC5A5A;
	border-radius: 10px;
	display: inline-flex;
	position: absolute;
	z-index: 3;
	margin-left: 600px;
	margin-top: -90px;
}

.subscribe img {
	width: 30px;
	height: 25px;
}

.subscribe a {
	display: inline-flex;
	align-items: center;
	gap: 5px;
}

.btn_all-pink {
	background: #f828c8;
}

.btn_all-red {
	background: #FC5A5A;
}

.btn_all-blue {
	background: #5A87FC;
}

.btn_all-green {
	background: #03CEA4;
}

.tabs__content {
	display: none;
}

.tabs__content.is-active {
	display: block;
}

/* .subscribe_img{
	background-image: url(../img/icons/youtube.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 35px;
	height: 30px;
} */

/* footer */

footer {
	background: #1E212C;
}



.footer_in {
	padding-top: 70px;
}

.footer_main {
	max-width: 281px;
}

.footer_main__txt {
	font-size: 11.5px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: left;
	width: 100%;
	color: rgba(120, 122, 128, 1);
	margin: 20px 0 30px;
}

.footer_social___links {
	min-width: 156px;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
}

.footer_social__link {
	width: 25px;
	height: 25px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	transition: 1s;
	filter: grayscale(2);

}

.facebook {
	background-image: url(../img/icons/Facebook.svg);
}

.in {
	background-image: url(../img/icons/Linked-In.svg);
}

.twitter {
	background-image: url(../img/icons/Twitter.svg);
}

.instagram {
	background-image: url(../img/icons/Instagram.svg);
}

.footer_social__link:hover,
.app:hover {
	filter: none;
	transform: scale(1.2);

}

.footer-links_tit {
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 1px;
	text-align: left;
	color: rgba(255, 255, 255, 1);
	margin-bottom: 20px;
}
.footer_links{
	display: inline-flex;
	justify-content: space-between;
	align-items: start;
	flex-wrap: wrap;
	margin-bottom: 40px;
}

.footer_links {
	gap: 60px;
}
.footer_main__txt2 {
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	transition: 0.5s;
}

.footer_main__txt2:hover {
	color: #592ee6;
}
.tel_number,
.mail{
	position: relative;
	margin-left: 25px;
}
.tel_number::before{
	margin-top: 3px;
	position: absolute;
	content: '';
	width: 19px;
	height: 19px;	
	background-image: url(../img/icons/iPhone.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-left: -25px;
}
.mail::before{
	margin-top: 3px;
	position: absolute;
	content: '';
	width: 19px;
	height: 19px;	
	background-image: url(../img/icons/Mail.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-left: -25px;
}
.SIGN-UP {
	min-width: 286px;
	margin-bottom: 40px;

}
.footer_main{
	margin-bottom: 40px;
}
.submit_footer{
	background-image: url(../img/icons/line_stroke.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #FFF;
    text-align: end;
    cursor: pointer;
	width: 20px;
	height: 15px;
}
.input_footer {
    width: 286px;
    display: inline-flex;
	border: 1px solid #FFFFFF;
	border-radius: 5px;
	background-color: #30303e;
	padding: 15px;
}

.email_footer {
    color: #fff;
    text-align: start;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.12px;
}
.input_txt{
	max-width: 286px;
}
.footer_top_line{
	border-bottom: 1px solid  #9A9CA5;
	filter: blur(0.7px);
	border-radius: 30px;
	margin-bottom: 30px;
	width: 100%;
}
.apps{
	width: 40%;
	margin-bottom: 30px;
}
.app{
	border-radius: 5px;
	overflow: hidden;
	width: 100px;
	height: 30px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	filter: grayscale(2);
	transition: 1s;
}
.app1{
	background-image: url(../img/icons/award1.png);
}
.app2{
	background-image: url(../img/icons/award2.png);
}
.app3{
	background-image: url(../img/icons/award3.png);
}
.app4{
	background-image: url(../img/icons/award4.png);
}
.prim{
	background: #30303e;
	padding: 20px;
}
.prim_txt{
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: left;
	color: #FFFFFF;
	min-width: 285px;	
	display: inline-flex;
}
.heart{
	/* position: relative; */
	width: 12px;
	height: 14px;
	margin: 2px 5px;
}
/* .heart::before{
	content: '';
	position: absolute;
	background-image: url(../img/icons/heart.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 12px;
	height: 12px;
} */
/*akcholpon*/
.h2 {

	color: #1E212C;
	font-size: 46px;
	font-weight: 900;
	line-height: 60px;
	letter-spacing: 0em;
	text-align: left;
}

.sec_text {
	width: 390px;
	height: 208px;
	top: 1440px;
	left: 345px;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;
	padding: 40px 10px;
}


.about_btn {
	padding: 10px;
}

.about__b {
	padding: 116px 0px 0px 3px;
}

.about {
	max-width: 1230px;
}

.card_progress {
	border-radius: 8px;
	width: 190px;
	padding: 50px 0;
	flex-direction: column;
	align-items: center;
	display: flex;
	row-gap: 30px;

}

.circular-prigress {
	position: relative;
	height: 148px;
	width: 148px;
	background: rebeccapurple;
	border-radius: 50%;
	background: conic-gradient(#c562a9 102deg, #dad5d5 0deg);
	display: flex;
	align-items: center;
	justify-content: center;
}

.circular-prigress::before {
	content: "";
	position: absolute;
	height: 137px;
	width: 137px;
	background-color: white;
	border-radius: 50%;

}

.progress-value {
	position: relative;
	width: 38px;
	height: 42px;
	font-family: Lato;
	font-size: 32px;
	font-weight: 900;
	line-height: 42px;
	letter-spacing: 0em;
	text-align: center;

	color: black;
}

.text_progress {
	width: 148px;
	height: 21px;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 0em;
	text-align: center;
	background: #424551;


}

.cards_progress {
	display: flex;
	align-items: center;
	margin: 0 auto;
	justify-content: center;
}

.card_progress {
	border-radius: 8px;
	width: 190px;
	padding: 50px 0;
	flex-direction: column;
	align-items: center;
	display: flex;
	row-gap: 30px;

}

.circular-prigress {
	position: relative;
	height: 148px;
	width: 148px;
	background: rebeccapurple;
	border-radius: 50%;
	background: conic-gradient(#c562a9 102deg, #dad5d5 0deg);
	display: flex;
	align-items: center;
	justify-content: center;
}

.circular-prigress::before {
	content: "";
	position: absolute;
	height: 137px;
	width: 137px;
	background-color: white;
	border-radius: 50%;

}

.progress-value {
	position: relative;
	width: 38px;
	height: 42px;
	font-family: Lato;
	font-size: 32px;
	font-weight: 900;
	line-height: 42px;
	letter-spacing: 0em;
	text-align: center;

	color: black;
}

.accordion {
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
	font-size: 20px;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: 0em;

}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

/* Style the accordion panel. Note: hidden by default */
.panel {
	padding: 10px 18px;
	display: none;
	overflow: hidden;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;
	color: #787A80;
}

.accordion:after {
	content: '\02795';
	/* Unicode character for "plus" sign (+) */
	font-size: 19px;
	float: left;
	margin-left: 10px;
	font-weight: 00;
}

.panel p {
	padding: 0px 0px 0px 20px;
	width: 556px;

}

.active:after {
	content: "\2796";
	/* Unicode character for "minus" sign (-) */
}

.panel {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}


.big_ask {

	display: flex;

}

.sec_ask {
	width: 600px;
	height: 60px;
	font-size: 46px;
	font-weight: 700;
	line-height: 60px;
	letter-spacing: 0em;
	text-align: left;

}

.acar {}

.right_ask {
	width: 488px;
	height: 404px;

}

/*akcholpon*/

.input_sec {
	background: #1E212C;
	height: 556px;
}

.big_input {
	display: flex;
}

.sec_titi {
	color: white;
	width: 600px;
	height: 60px;
}

.right_input {
	padding: 0px 0px 0px 90px;
}

/* input */
.input {
	margin: 0 auto;
	height: 100%;
	width: 812px;
	border-radius: 16px;
	padding: 40px;
}

.details {
	color: #ffffff;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;

}


.row {
	display: flex;
	gap: 8px;
}
.img{
	margin: 0 auto;
	padding-left: 80px;
	padding-top: 10px;
}

.inbtn {
	display: flex;
	width: 285px;
	height: 52px;
	padding: 0px 24px;
	justify-content: space-between;
	align-items: center;
	border-radius: 4px;
	color: #9b9898;
	background: rgb(53, 53, 53);
	border: 1px solid #FFFFFF33;

}

.inbtn_i {
	width: 600%;
	height: 52%;
	align-self: stretch;
}

.inbtn_il {
	max-width: 717px;
	max-width: 156px;
	padding: 24px;
	align-items: flex-start;
	gap: 10px;
	align-self: stretch;
	border-radius: 16px;
	padding-bottom: 124px;
}

.contact_info {
	display: inline-flex;
	gap: 90px;
	padding-left: 274px;
	margin-top: 84px;
}

.two_input {
	display: flex;
}

.p_input {
	max-width: 287px;
	height: 52px;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0em;
	color: white;
	padding: 20px 0px 0px 20px;
}

html,
body {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	clear: both;
	content: "";
	display: table;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
}

ul li:last-child {
	margin-bottom: 0;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

button,
label {
	cursor: pointer;
}

input,
button,
textarea {
	background: none;
	border: none;
	outline: none;
	display: block;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input::placeholder {
	color: inherit;
}

button {
	cursor: pointer;
}

input,
textarea {
	display: block;
	resize: none;
}

body {
	font-size: 14px;
	line-height: 19px;
	color: #242424;
	width: 100%;
	font-family: 'Manrope', arial, sans-serif;
}

.container {
	max-width: 1325px;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 15px;
}

.dn {
	display: none;
}

section {
	padding: 100px 0;
}

.sec_tit {
	font-weight: 800;
	font-size: 42px;
	line-height: 57px;
}

.input_sec {
	background: #1E212C;
	height: 556px;
}

.big_input {
	display: flex;
}

.sec_tit {
	color: white;
	width: 600px;
	height: 60px;
}

.right_input {
	padding: 0px 0px 0px 90px;
}

/* input */
.input {
	margin: 0 auto;
	height: 100%;
	width: 812px;
	border-radius: 16px;
	padding: 40px;
}

.details {
	color: #ffffff;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;

}

.user_details {
	padding-left: 20px;
}

.input_box {
	padding-top: 20px;
}

.details {
	padding-top: 20px;
}

.row {
	display: flex;
	gap: 8px;
}

.inbtn {
	display: flex;
	width: 285px;
	height: 52px;
	padding: 0px 24px;
	justify-content: space-between;
	align-items: center;
	border-radius: 4px;
	color: #9b9898;
	background: rgb(53, 53, 53);
	border: 1px solid #FFFFFF33;

}

.inbtn_i {
	width: 600px;
	height: 52px;
	align-self: stretch;
}

.inbtn_il {
	max-width: 717px;
	max-width: 156px;
	padding: 24px;
	align-items: flex-start;
	gap: 10px;
	align-self: stretch;
	border-radius: 16px;
	padding-bottom: 124px;
}

.contact_info {
	display: inline-flex;
	gap: 90px;
	padding-left: 274px;
	margin-top: 84px;
}

.two_input {
	display: flex;
}

.p_input {
	max-width: 287px;
	height: 52px;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0em;
	color: white;
	padding: 20px 0px 0px 20px;
}
