html,
body {
	height: 100%;
	font-family: "lato";
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	clear: both;
	content: "";
	display: table;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
}

ul li:last-child {
	margin-bottom: 0;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

button,
label {
	cursor: pointer;
}

input,
button,
textarea {
	background: none;
	border: none;
	outline: none;
	display: block;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input::placeholder {
	color: inherit;
}

button,
a {
	cursor: pointer;
}

input,
textarea {
	display: block;
	resize: none;
}

.container {
	max-width: 1125px;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 15px;
}

section {
	padding: 100px 0;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.btn {
	background: linear-gradient(93.7deg, #592ee6 -1.69%, #7772F1 67.58%);
	border-radius: 4px;
	font-weight: 400;
	font-size: 16px;
	text-align: center;
	color:#FFFFFF;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 170px;
	padding: 12px ;
	transition: 0.5s;
	
}

.btn:hover {
	
}

.link {
	transition: 0.3s;
}


/* MALIKA */

/* header */
.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
}

.header::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(147, 142, 142, 0.8);
}

.header_body {
	position: relative;
	z-index: 10;
	height: 80px;

}
.header_list{
	gap: 40px;
}
.header_link {
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;
	color: #FFFFFF;
	transition: 1s;
}
.header_link:hover{
	color: #7772F1;
	border-bottom: 1px solid #7772F1;
	transition: 1s;
}
.header_menu{

}